$bgMainColor: #1a1a1a;
$bgMainColorRGB: rgba(26, 26, 26, .9);
$mainColor: #f3c333;
$bgDarck: rgba(0, 0, 0, .45);
$textColor: #fff;
$decorationElements: #e53935;

$bgSlider: rgba(255, 255, 255, .7);
$footerSocialLink: #363636;

$mainFont: 'Poiret One', cursive;

$cursorImage: url("../img/cursor1.png");


// Modal
$linkColor: #363636;
$details: #708090;
$modalLink: #bababa;
$modalLinkHover: #e53935;